body{
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}
.blog {
    width: 80%;
  background-color: #156064;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 1000px;
}
h1 {
    font-size: 40px;
    margin-top: 04;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #f9f7f7;
    text-align: center;
} 

h2 {
    font-family:'Courier New', Courier, monospace;
    color:#f9f7f7;
    
}
h3 {
    font-size: 26px;
    font-family:'Courier New', Courier, monospace;
    color: #f9f7f7
}
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: #f9f7f7;
}
h5 {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: #f9f7f7;
 }
 p {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    color: #f9f7f7;
}
.top line 
h1, h2, h3, h4, h5, p{
    text-align: center;
}
hr {
    height: 4px;
    background-color: #f8e16c;
    border-color: #f8e16c;
}
.imageTik {
    width: 10%; 
    margin-right: 8%;
    height: auto;
    border-radius: 20%;
}
.Instagram_icon{
    width: 10%; 
    margin-right: 8%;
    height:auto;
    border-radius:1%; 
} 
.github {
    width: 10%; 
    margin-right: 8%;
    height:auto;
    border-radius: 20%; 
} 
.imageTik, .Instagram_icon, .github {
    justify-content: center;
}
